* {
  margin: 0;
  padding: 0; }

body {
  padding: 40px;
  font: 14px/1.5em arial, helvetica, sans-serif; }

ul.nav {
  margin: 0 0 2em 0;
  list-style: none; }

h1 {
  margin: 0 0 1em 0; }

label {
  display: block; }

input.text {
  border: 1px solid #ddd;
  display: block;
  padding: 4px;
  font: inherit; }

.example {
  color: #ccc; }

.tip {
  font-size: 12px;
  font-style: italic;
  color: #666; }
